
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!-- styles -->
    <link href="~/styles/styles.css" rel="stylesheet" />
</head>
<body>

    <div id="wrapper">
        <div id="contenedor">
            <div id="contenido">
                <h1>Links</h1>
                <h2>This is the index page</h2>
                <a href="Index" class="active">Index |</a>
                <a href="About">About |</a>
                <a href="Contact">Contact</a>
            </div>
        </div>
    </div>

</body>
</html>
